<footer id="footer">
  <div id="header-logo-container">
    <img src="./assets/logo-fit 1.png" alt="logo marca sport fit" />
    <h1>SPORT<span>FIT</span></h1>
  </div>
  <div>
    <div class="flex-footer">
      <img src="/assets/phone.png" alt="Icone de telefone" />
      <h2>Telefone</h2>
    </div>
    <p>(xx)x xxxx-xxxx</p>
    <div class="flex-footer">
      <img src="/assets/geo.png" alt="Icone de localizador" />
      <h2>Localização</h2>
    </div>
    <p>Rua dos Bocós</p>
  </div>
  <div>
    <div class="flex-footer">
      <img src="/assets/clock.png" alt="Icone de localizador" />
      <h2>Horários</h2>
    </div>
    <p>seg-sexta: 06:00-21:00</p>
    <p>sab: 06:00-18:00</p>
    <p>dom: 06:00-12:00</p>
  </div>
  <div class="flex-footer">
    <h2>Assine a nossa NewsLetter</h2>
    <form action="subtmit" id="form">
      <input
        type="email"
        name="email-input"
        id="email-input"
        placeholder="email"
      />
    </form>
    <button class="button" type="submit" form="form">Enviar email</button>
  </div>
</footer>
